In [21]:
import sqlite3 as sl

con = sl.connect("davinci_chat.db")
with con:
    con.execute("""CREATE TABLE USE (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,name TEXT, age INTEGER);""")

# https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd



# commit the transaction to save changes to the database
# con.commit()

# # close the connection
# con.close()

In [11]:

cursor = con.cursor()

data = [
    ( None, 'Rana', 'k')
    ]

with con:
    cursor.executemany("INSERT INTO USER (id, name, age) VALUES (?, ?, ?)", data)

In [18]:
with con:
    data = con.execute("SELECT* FROM USER")
    print(list(data))

[(2, 'Rana', 7), (3, 'Rana', 3), (4, 'Rana', 3), (5, 'Rana', 3), (6, 'Rana', 'k'), (7, 'Rana', 'k'), (8, 'Rana', 'k')]